html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: url(/img/habito_2.png);
    /* 
    background-repeat: repeat-x;
    background-repeat: no-repeat, no-repeat;
    background-position-y: center;*/
}

.tablegrid {
    background-color: white;
    opacity:0.98;
    padding: 20px;
}

.tablegrid table caption {
    font-size: 20px;
    font-weight: bold;
}

.footer {
    background-color: white;
}

