@{
    ViewData["Title"] = "Habito";
}

<div class="tablegrid">
   <div class="table-responsive">
        <table class="table caption-top">
          <caption>Meus hábitos</caption>
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Objetivo</th>
              <th scope="col">Data de início</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Estudar Java 1h por dia</td>
              <td>Concluir trabalho de Estrutura </td>
              <td>20/07/2022</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Caminhar 3x na semana</td>
              <td>Tomar sol e práticar atividade física</td>
              <td>01/02/2022</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Beber 2L de água</td>
              <td>Manter hidratação</td>
              <td>03/01/2022</td>
            </tr>
          </tbody>
      </table>
    </div>
</div>
